.container-fluid.home-hero-container
  .home.hero.section.herofront(name="home")
    .overlay
      .inner
        .title Visibility in the world's hardest-to-see places
    video.video#video1.off(data-name='adama',preload='auto',loop='loop', muted='muted',volume='0',poster='#{rootdir}vid/adama.jpg')
      //-source(src='#{rootdir}vid/adama.webm',type='video/webm')
      //-source(src='#{rootdir}vid/adama.mp4',type='video/mp4')
    video.video#video2.off(data-name='caracas',preload='auto',loop='loop', muted='muted',volume='0',poster='#{rootdir}vid/caracas.jpg')
      //-source(src='#{rootdir}vid/caracas.webm',type='video/webm')
      //-source(src='#{rootdir}vid/caracas.mp4',type='video/mp4')
    video.video#video3.off(data-name='kano',preload='auto',loop='loop', muted='muted',volume='0',poster='#{rootdir}vid/kano.jpg')
      //-source(src='#{rootdir}vid/kano.webm',type='video/webm')
      //-source(src='#{rootdir}vid/kano.mp4',type='video/mp4')

.copyblock.block1
  .copy.copybold Premise blends modern technology with human intelligence to map reality on the ground.

